<h1>Topics:</h1>
	<ul>
		<%@topics.each do |i| %>
		
		<li><%=i.title%> | 
			by <%=link_to " #{User.find(i.user_id).username}",new_topic_path(@topic)%> |
			<%=link_to " View ",topic_path(i)%> | 
			<%=link_to " Edit ",topic_path(i)%> | 
			<%=link_to " Delete ",topic_path(i)%> | 

			Created at <%=i.created_at%>
		</li>
		
		<%end%>
	</ul>
<%=link_to "create new topic",new_topic_path(@topic)%>