<h1><%=@board.name%></h1>
<p><%=@board.description%></p>

Topics in this board:

<ul>
	<%@board_topics.each do |i|%>
		<li><%=i.title%> <%=link_to "View", topic_path(@board,i)%></li>
	<%end%>
</ul>

Add topics to this board:
<ul>
	<%@new_topics.each do |i|%>
		<%=link_to "Add", board_path(id: @board, topic_id: i.id), :method=> :patch%>
	<%end%>
</ul>

