<!DOCTYPE html>
<html>
<head>
  <title>R1016</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%unless current_page?(controller: 'users', action: 'index')%><%# Got his from ApiDock http://bit.ly/1yqwlOw! %>
	<small><%=link_to "« Return to Home page", root_path%></small><br/>
<%end%>

<%=flash[:notice] if flash[:notice]%><%=flash[:alert] if flash[:alert]%><br/>

<% unless current_page?(root_path)%>
	
<%end%>
<%=link_to "View Topics", topics_path%>
<%=link_to "View Users", users_path%>
<%=link_to "View Boards", boards_path%>
<% unless session[:user_id] == nil %>



<%=form_tag "/search", controller: "home",method: "get",controller: "home"  do %>
<%= radio_button_tag(:query_type, "topic") %>
<%= label_tag(:query_article, "topic query") %>
<%= radio_button_tag(:query_type, "user") %>
<%= label_tag(:query_user, "user query") %>
<%=label_tag(:query_type, "search:") %>
<%=text_field_tag(:query) %>
<%=submit_tag "Submit", method: "view" %>
<% end %>

<%=render"layouts/login"%>

<%end%>
<br/>
<%= yield %>
<br/>
<br/>
<small>Params: <%=params%> | id = <%=session[:id]%>, | Session user_id = <%=session[:id]%></small>

</body>
</html>
